@model List<Product>

@{
    ViewData["Title"] = "Products";
}



    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>Overblik over produkter</p>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="bg-primary p-5">
                        <img src="@product.Image" alt="Picutre" />
                    </div>
                    <div>
                        <span>
                            @product.Name
                        </span>
                    </div>
                    <div>
                        <span>
                            Pris: @product.Price
                        </span>
                    </div>

                </div>
            }
        </div>

    </div>


