@model List<Product>

@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<p>List of products</p>

@foreach (var product in Model)
{
    <div>
        @product.Name - @product.Price
        <hr />
    </div>
}

